header.navigation {
    background: #094e50;
    min-height:80px;
    position: relative;
}

.nav-container {
    margin:0px auto;
    position: relative;
}

@media (min-width: 768px) {
    .nav-container {
    width: 750px;
    }
}

@media (min-width: 992px) {
    .nav-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .nav-container {
        width: 1170px;
    }
}

.nav-container .user-button {
    display:block;
    position: absolute;
    left:0px;
    top:0px;
}

.user-button .user-icon {
    float: left;
    border:3px solid #fff;
    width:56px;
    height:56px;
    border-radius: 58px;
    background: center center url('../images/pp-headshot.png') no-repeat;
    z-index:2;
    text-indent: -9999em;
    margin-top:12px;
}

.user-button .user-currency {
    color:#fff;
    margin-left:10px;
    font-size:1.8rem;
    line-height:75px;
}

.nav-container .calc-button {
    position: absolute;
    left:50%;
    margin-left:-20px;
}

.nav-container .notifications-button {
    position: absolute;
    right:0px;
}