<div class="hero-unit fullwidth">
	<div class="hero-blurb">
	  <h2>It's like a universal translator for money</h2>
    <p>Across a table, or across an ocean, send and receive money instantly for free.</p>
  </div>

  <!-- <ul class="hero-options">
  	<li>
  		<span class="glyphicon glyphicon-piggy-bank hp-glyph"></span>
  		<h3>Transfer to Bank Account</h3>
  	</li>
  	<li>
  		<span class="glyphicon glyphicon-credit-card hp-glyph"></span>
  		<h3>Send a Pre-Paid Debit Card</h3>
  	</li>
  	<li>
  		<span class="glyphicon glyphicon-transfer hp-glyph"></span>
  		<h3>Transfer to Bank Account</h3>
  	</li>
  </ul> -->
</div>
