<div class="send-input-form fullwidth form-content">
  <form>
    <div>
      <label for="transfer-input">Transfer amount</label>
    </div>
    <div>
      <input type="text" name="transfer-input" />
    </div>
    <p>Local currency will be selected once you choose a destination.</p>

    <ul class="form-footer">
      <li class="alignright">
        <button type="button" class="btn btn-primary active" ui-sref="send.source">Continue <span class="glyphicon glyphicon-arrow-right"></span></button>
      </li>
    </ul>
  </form>
</div>